<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.as1124.server.wxsapp.database.mapper.AppClientMapper">

	<sql id="queryResult">
		client_version as clientVersion, client_type as clientType, setting 
	</sql>

	<select id="queryAppSetting" resultType="hashmap">
		select 
		<include refid="queryResult"></include>
		from app_setting 
		<where>
			<if test="arg0 != null and arg0 != ''">
				client_version = #{arg0}
			</if>
			<if test="arg1 != null and arg1 != ''">
				AND client_type = #{arg1}
			</if>
		</where>
	</select>

</mapper>