<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.as1124.server.wxsapp.database.mapper.AppClientMapper">

	<sql id="queryResult">
		client_version as clientVersion, client_type as clientType,
		setting
	</sql>

	<select id="queryAppSetting" resultType="hashmap">
		select
		<include refid="queryResult" />
		from app_setting where client_type = #{arg0}
		<if test="arg1 != null and arg1 != ''">
			and client_version = #{arg1}
		</if>
	</select>

</mapper>