<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.as1124.server.wxsapp.database.mapper.GoodsCategoryMapper">

	<resultMap type="HashMap" id="categoryResult">
		<id property="id" column="id" />
		<result property="categoryid" column="categoryid" />
		<result property="name" column="name" />
		<result property="ext1" column="ext1" />
		<result property="ext2" column="ext2" />
		<result property="ext3" column="ext3" />
		<result property="ext4" column="ext4" />
		<result property="ext5" column="ext5" />
	</resultMap>

	<select id="queryGoodsCategory" parameterType="string" resultMap="categoryResult">
		select * from goods_category
		<where>
			<if test="categoryno != null and categoryno != ''">
				categoryid = #{categoryno}
			</if>
		</where>
	</select>

</mapper>