<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.as1124.server.wxsapp.database.mapper.GoodsOrderMapper">

	<insert id="newGoodsOrder" parameterType="GoodsOrder"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id"
		flushCache="true">
		insert into goods_order(orderid,openid,unionid,goods_info,
		total_price,discount,order_time,order_status,
		express_info,ext1,ext2,ext3,ext4,ext5)
		values
		(#{orderid},#{unionid},#{goodsInfo},#{totalPrice},#{discount},#{orderTime},
		#{orderStatus},#{expressInfo},#{ext1},#{ext2},#{ext3},#{ext4},#{ext5});
	</insert>

	<select id="queryOrderByID" parameterType="string"
		resultType="GoodsOrder">
		select * from goods_order where orderid = #{orderid};
	</select>

	<select id="queryOrders" parameterType="GoodsOrder"
		resultType="GoodsOrder"></select>

	<update id="updateOrderStatus">
		update goods_order set order_status = #{status} where
		orderid = #{orderid};
	</update>

	<update id="updateOrder"></update>

	<delete id="deleteOrder" parameterType="string">
		delete from goods_order where orderid = #{orderid};
	</delete>
</mapper>