<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as1124.syx.database.mapper.SyxUserMapper">
	<insert id="insertUser" parameterType="User">
		insert into syx_user values #{userInfo}
	</insert>
	<select id="queryByID" parameterType="int" resultType="User">
		select * from syx_user where id = #{userID}
	</select>
	<select id="queryByTele" parameterType="string" resultType="User">
		select * from syx_user where telephone = #{telephone}
	</select>
	<select id="queryAll" resultType="User">
		select * from syx_user
	</select>
</mapper>