<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.as1124.server.wxsapp.database.mapper.UserInfoMapper" >
	<insert id="insertUser" parameterType="UserInfo"
		flushCache="true" useGeneratedKeys="true" keyProperty="userid" >
<!-- 		databaseId="mysql" > -->
		insert into user_info
		(openid, unionid, user_level, wechat_name, name, head_icon, telephone, register_time, user_status, ext1, ext2, ext3, ext4, ext5)
		values
		(#{openid},#{unionid},#{userLevel},#{wechatName},#{name},#{headIcon},#{telephone},#{registerTime},#{userStatus},#{ext1},#{ext2},#{ext3},#{ext4},#{ext5});
	</insert>
	
	<select id="queryByID" parameterType="int" resultType="UserInfo">
		select * from user_info where userid = #{userid};
	</select>
	
	<select id="queryByKey" parameterType="UserInfo" resultType="UserInfo">
		select * from user_info 
		<where>
			<choose>
				<when test="openid != null">
				openid = #{openid};
			    </when>
			    <when test="unionid != null">
				unionid = #{unionid};
			    </when>
			    <when test="telephone != null">
				telephone = #{telephone};
			    </when>
			    <when test="wechatName != null">
			    wechat_name like #{wechatName};
			    </when>
			</choose>
		</where>
	</select>
	<select id="queryAll" resultType="UserInfo">
		select * from user_info;
	</select>
	<update id="updateUser" parameterType="UserInfo" keyProperty="userid">
		update user_info(openid, unionid, user_level, wechat_name, name, head_icon, telephone, 
		register_time, user_status, ext1, ext2, ext3, ext4, ext5)
		values(#{openid},#{unionid},#{userLevel},#{wechatName},#{name},#{headIcon},#{telephone},#{registerTime},#{userStatus},
		#{ext1},#{ext2},#{ext3},#{ext4},#{ext5});
		where userid = #{userid};
	</update>
</mapper>