<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as1124.touch_input">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".gesture.SelfScrollableActivity" />

        <!-- stateVisible：每次打开Activity都会打开键盘 -->
        <!-- adjustResize： 调整窗口，能够看见整屏幕的内容, adjustPan: 平移显示区域，只要达到焦点控件可见即可 -->
        <activity
            android:name=".keyinput.KeyInputActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateUnspecified|adjustResize" />
        <activity android:name=".gesture.drag.DragScaleActivity" />

        <activity
            android:name=".softinput.InputMethodActivity"
            android:exported="true" />
        <activity
            android:name=".softinput.InputMethodSettingActivity"
            android:exported="true"
            android:label="As1124输入法设置界面"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".softinput.As1124InputMethodService"
            android:enabled="true"
            android:exported="true"
            android:label="As1124 输入法"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>
    </application>

</manifest>