<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as1124.googledoc">

    <!-- 普通权限，安装时自动授权 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 危险权限，需要动态授权 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 自定义权限 -->
    <permission-group
        android:name="com.as1124.googledoc.HUANGJW_PERMISSION_GROUP"
        android:icon="@drawable/permission_group"
        android:label="我申明的权限（Label）" />

    <permission
        android:name="com.as1124.googledoc.KILL_PERMISSION"
        android:icon="@drawable/permission_kill"
        android:label="杀人权限"
        android:permissionGroup="com.as1124.googledoc.HUANGJW_PERMISSION_GROUP"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.as1124.googledoc.SAVE_PERMISSION"
        android:icon="@drawable/permission_save"
        android:label="拯救上帝权限"
        android:permissionGroup="com.as1124.googledoc.HUANGJW_PERMISSION_GROUP"
        android:protectionLevel="dangerous" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".permission.PermissionActivity" />
        <activity
            android:name=".permission.CustomPermissionActivity"
            android:exported="true"
            android:permission="com.as1124.googledoc.KILL_PERMISSION"></activity>
    </application>

</manifest>