<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as1124.android.ch2"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="@string/version_name" >

    <!-- 指定程序使用的sdk限制 -->
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="25" />

    <!-- 指定硬件设备要求 -->
    <uses-configuration />

    <!-- 程序运行的功能性限制：如NFC功能 -->
    <uses-feature
        android:name="android.hardware.false"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <!-- 说明应用程序针对哪些屏幕尺寸进行了设计和测试 -->
    <supports-screens
        android:compatibleWidthLimitDp="600"
        android:largeScreens="true"
        android:largestWidthLimitDp="720"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="480"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <!-- 应用程序权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 测试监控应用程序的运行及资源交互 -->
    <instrumentation
        android:name="com.as1124.android.instrument.MyTestInstrument"
        android:targetPackage="com.as1124.android.ch2" >
    </instrumentation>

    <application
        android:name="com.as1124.android.ch2.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.as1124.android.ch2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.as1124.android.ch4.TodoListActivity" />
    </application>

</manifest>