# Datasource local storage ignored files
.idea/dataSources/
.idea/libraries/
# Default ignored files
.idea/shelf/
.idea/dataSources.local.xml
.idea/uiDesigner.xml
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/

