<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">
	<persistence-unit name="">
		<class>com.habuma.spittr.domain.Spitter</class>
		<class>com.habuma.spittr.domain.Spittle</class>
		<properties>
			<property name="toplink.jdbc.driver"
				value="org.hsqldb.jdbcDriver" />
			<property name="toplink.jdbc.url"
				value="jdbc:hsqldb:hsql://localhost/spitter/spitter" />
			<property name="toplink.jdbc.user" value="sa" />
			<property name="toplink.jdbc.password" />
		</properties>
	</persistence-unit>
</persistence>
