<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:/config/dbinfo.properties" />

	<!-- 普通JDBC数据源 -->
	<bean id="jdbc-ds-xml-injection" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- DBCP 数据库连接池 -->
	<bean id="dbcp-ds-xml-injection" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="defaultAutoCommit" value="${defaultAutoCommit}" />
		<property name="initialSize" value="${initialSize}" />
		<property name="minIdle" value="${minIdle}" />
		<property name="maxIdle" value="${maxIdle}" />
		<property name="maxTotal" value="${maxTotal}" />
		<!-- 连接池不够用时，新请求等待获取连接的超时时间：60s -->
		<property name="maxWaitMillis" value="${maxWaitMillis}" />
		<!-- 启动连接超时检测；像MySQL有连接8小时的有效性，超时后连接将无效；配置此参数可以检查connect的有效性 -->
		<property name="testWhileIdle" value="${testWhileIdle}" />
		<property name="removeAbandonedOnBorrow" value="${removeAbandonedOnBorrow}" />
	</bean>

	<!-- C3P0 数据库连接池 -->
	<bean id="c3p0-ds-xml-injection" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${driverClassName}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="user" value="${username}" />
		<property name="password" value="${password}" />

		<property name="autoCommitOnClose" value="${defaultAutoCommit}" />
		<property name="initialPoolSize" value="${initialSize}" />
		<property name="minPoolSize" value="${minIdle}" />
		<property name="maxPoolSize" value="${maxIdle}" />
		<!-- 连接池不够用时，新请求等待获取连接的超时时间：60s -->
		<property name="maxIdleTime" value="${maxWaitMillis}" />
		<!-- 获取连接时检查连接有效性；像MySQL有连接8小时的有效性，超时后连接将无效；配置此参数可以检查connect的有效性 -->
		<property name="testConnectionOnCheckin" value="${testWhileIdle}" />
	</bean>

	<!-- JNDI数据源 -->
	<bean id="jndi-ds-xml-factory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/jndids" />
	</bean>

</beans>