<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:mbean-server id="xmlMBeanServer" />
	<context:mbean-export default-domain="MbeanXml" server="xmlMBeanServer" />

	<!-- UserInfoRefBean 因为有 Spring-MBean 注解，所以会发布成为MBean -->
	<bean id="xmlUserRefBean" class="com.as1124.spring.jmx.UserInfoRefMBean" />
</beans>