<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as1124.ch3.views">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 生物识别认证 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".As1124Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".AcrossProcessService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.as1124.service" />
            </intent-filter>
        </service>

        <activity android:name=".selfdefine.SelfViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".axis.ViewCoordinateActivity" />
        <activity android:name=".move.ViewMovementActivity" />
        <activity android:name=".anim.AnimationActivity" />
        <activity android:name=".scroller.ScrollerActivity" />
    </application>

</manifest>