<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategory"
            id="com.as1124.category.addressbook">
      </category>
      <view
            allowMultiple="false"
            category="com.as1124.category.addressbook"
            class="com.as1124.addressbook.view.AddressbookView"
            icon="icons/sample.gif"
            id="com.as1124.views.AddressbookView"
            name="%viewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="com.as1124.addressbook.views.AddressbookView"
               minimized="true"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
