<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>wxserver</display-name>
	<filter>
		<filter-name>WXServerFilter</filter-name>
		<filter-class>com.primeton.mobile.wechat.filters.WXServerFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
			<param-name>handle-class</param-name>
			<param-value>com.primeton.mobile.DefaultMsgHanlder</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WXServerFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html;charset=utf-8</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html;charset=utf-8</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jsp</extension>
		<mime-type>text/html;charset=utf-8</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>