<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:inte="http://www.springframework.org/schema/integration"
       xmlns:inte-file="http://www.springframework.org/schema/integration/file"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/file
       http://www.springframework.org/schema/integration/file/spring-integration-file.xsd">

    <inte:channel id="contentInChannel"/>
    <inte:channel id="fileWriterChannel"/>
    <inte:transformer id="upperCase" input-channel="contentInChannel"
                      output-channel="fileWriterChannel" expression="payload.toUpperCase()"/>
    <inte-file:outbound-channel-adapter id="outBoundWriter"
                                        append-new-line="true"
                                        directory="/Users/huang/work/mq/"
                                        mode="APPEND" channel="fileWriterChannel"/>
</beans>